:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.hero {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 60px;
}

body {
  margin: 60px auto;
  max-width: 90%;
  padding: 0 20px;
}

h1 {
  font-size: clamp(48px, 8vw, 96px);
}

h2 {
  font-size: clamp(24px, 5vw, 48px);
}

h3 {
  font-size: clamp(18px, 3vw, 24px);
  opacity: 0.7;
}

.about-paragraphs {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

@media (min-width: 768px) {
  body {
    max-width: 800px;
  }

  .about-paragraphs {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .navigation-links {
    flex-direction: column;
    align-items: center;
  }

  .navigation-links a {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 15px;
    font-size: 16px;
  }

  .email-link {
    font-size: 24px;
  }
}
